@model AppHardware.Models.Producto

@{
    ViewData["Title"] = "Details";
}

<h1>Ficha del producto</h1>

<div>
    @*<h4>Producto</h4>*@
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CatId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CatId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MarcaNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MarcaNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModeloNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModeloNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductoDescripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductoDescripcion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProductoId">Editar</a> |
    <a asp-action="Index">Volver al listado</a>
</div>
