@model IEnumerable<AppHardware.Models.Registro>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de entregas</h1>

<h4>Para devolver un producto haga clic en 'Devolver' y modifique la fecha de devolución</h4>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaEntrega)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaDevolucion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.NombreCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.NombreCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEntrega)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaDevolucion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RegistroId">Devolver</a> |
                <a asp-action="Details" asp-route-id="@item.RegistroId">Ver detalles</a>
                <!--| <a asp-action="Delete" asp-route-id="@item.RegistroId">Eliminar</a>-->
            </td>
        </tr>
}
    </tbody>
</table>
